body {
    font-family: 'Space Grotesk', sans-serif;
}

.dropzone-active {
    border-color: #19a4db !important;
    background-color: rgba(25, 164, 219, 0.05) !important;
}

.page-card-deleted {
    opacity: 0.3;
    border-color: #ef4444 !important;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
::-webkit-scrollbar-track {
    background: #0707c2;
}
::-webkit-scrollbar-thumb {
    background: #1c1c1f;
    border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
    background: #19a4db;
}